@using HuniMVC.Controllers

@model List<HuniMVC.Models.Food>

@{
    
}

<table class="table">
    <thead>
        <tr>
           
            <th>
                @Html.DisplayNameFor(model => model[0].FoodName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].FoodDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Price)
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
       
    
            @foreach (var item in Model)
            {

                <tr>

                   
                    <td>
                        @Html.DisplayFor(modelItem => item.FoodName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FoodDescription)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>

                </tr>
            }
        
    </tbody>
</table>